.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(238, 28, 37) 90%;
  height: 80px;
}

.title {
  letter-spacing: 1.5px;
}

.timerContainer {
  display: flex;
  flex-direction: row;
}

.timerUnitWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerText {
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
}

.timerData {
  font-size: 32px;
  font-weight: 700;
  font-family: Roboto;
  line-height: 32px;
}

.timerContainer .timerUnitWrapper:nth-child(-n + 2) .timerData:after {
  content: ":";
  // letter-spacing: 10px;
  // margin-left: 5px;
  // padding: 0 3px;
}
