.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(238, 28, 37);
  height: 80px;

  @media (max-width: 850px) {
    height: 70px;
  }

  @media (max-width: 650px) {
    height: 65px;
  }
}

.title {
  letter-spacing: 10px;
  font-weight: 400;
  font-style: italic;
  margin-left: 10px;

  @media (max-width: 850px) {
    font-size: 18px;
  }

  @media (max-width: 650px) {
    font-size: 16px;
    letter-spacing: 7px;
    margin-left: 5px;
  }
}

.timerContent {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.timerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerText {
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
}

.timerData {
  font-size: 32px;
  font-weight: 700;
  font-family: Roboto;
  line-height: 32px;

  @media (max-width: 850px) {
    font-size: 26px;
    line-height: 26px;
  }

  @media (max-width: 650px) {
    font-size: 22px;
    line-height: 22px;
  }
}
