.slider {
  background-image: linear-gradient(127deg, rgba(76, 111, 145, 0.864), rgba(76, 111, 145, 0.377)),
    url("../../assets/img/start-marathon-small2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

  @media (max-width: 1024px) {
    height: 500px;
  }
}

.wrapper {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  column-gap: 50px;

  @media (max-width: 650px) {
    padding: 0 10px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  row-gap: 30px;

  @media (max-width: 900px) {
    width: 70%;
  }

  @media (max-width: 650px) {
    width: 100%;
    row-gap: 20px;
  }
}

.title {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  color: rgb(255, 255, 255);

  @media (max-width: 1024px) {
    font-size: 48px;
  }

  @media (max-width: 650px) {
    font-size: 32px;
  }
}

.description {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.linksBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
  width: 40%;

  @media (max-width: 900px) {
    display: none;
  }
}

.listLinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  // align-items: flex-end;
  gap: 40px;
  width: 100%;
}

.linkWrapper {
  width: 50%;

  @media (max-width: 1100px) {
    width: 60%;
  }
}

.linkWrapper:nth-of-type(1) {
  align-self: center;
}

.linkWrapper:nth-of-type(2) {
  align-self: flex-end;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgb(238, 28, 37);
  background-color: rgb(238, 28, 37);
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.2s;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16),
    0 8px 8px rgba(0, 0, 0, 0.2);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

@media (any-hover: hover) {
  .link:hover {
    background-color: rgb(187, 0, 9);
    border: 1px solid rgb(187, 0, 9);
  }
}
