.header {
  background-image: linear-gradient(
    127deg,
    rgb(233, 247, 255) 8%,
    rgb(212, 237, 250) 10%,
    rgba(11, 78, 162) 50%,
    rgb(238, 28, 37) 90%
  );
}

.headerWrapper {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.headerInner {
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  column-gap: 5%;
  align-items: center;
  // box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5) ;
}

.flag {
  width: 60px;
  // height: 50px;
}

.headerTitle {
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;

}



