.footer {
  background-color: $footer-background;
  margin-top: auto;
}

.wrapper {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 770px) {
    padding: 0 10px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 0;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 50px;

  @media (max-width: 950px) {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  flex: 1;
  justify-content: center;

  @media (max-width: 950px) {
    column-gap: 40px;
  }
}

.facebook,
.instagram {
  width: 50px;
  height: 50px;
}

.instagram {
  scale: 1.15;
}

.strava {
  scale: 0.8;
}

.facebook {
  color: $footer-icons;
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
  path {
    transition: all 0.3s;
    color: #747b90;
  }

  @media (hover: hover) {
    &:hover {
      color: $footer-icons-hover-active;

      path {
        color: #8f94a3;
      }
    }
  }

  @media (hover: none) {
    &:active {
      color: $footer-icons-hover-active;

      path {
        color: #8f94a3;
      }
    }
  }
}

.instagram {
  color: $footer-icons;
  transition: all 0.3s;

  @media (hover: hover) {
    &:hover {
      color: $footer-icons-hover-active;
    }
  }

  @media (hover: none) {
    &:active {
      color: $footer-icons-hover-active;
    }
  }
}

.strava {
  color: $footer-icons;
  transition: all 0.3s;

  path:nth-of-type(1) {
    color: #747b90;
  }

  @media (hover: hover) {
    &:hover {
      color: $footer-icons-hover-active;

      path:nth-of-type(1) {
        color: #b5bbcd;
      }
    }
  }

  @media (hover: none) {
    &:active {
      color: $footer-icons-hover-active;

      path:nth-of-type(1) {
        color: #b5bbcd;
      }
    }
  }
}

.cards {
  display: flex;
  flex: 1;
  list-style: none;
  column-gap: 20px;
  justify-content: center;

  .card {
    width: 40px;
    display: flex;
    justify-content: center;
  }
}

.listEmails {
  flex: 1;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  list-style: none;
  justify-content: flex-start;

  @media (max-width: 1000px) {
    justify-content: center;
  }

  @media (max-width: 770px) {
    justify-content: center;
    column-gap: 25%;
  }

  @media (max-width: 650px) {
    column-gap: 20%;
  }

  @media (max-width: 620px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
  }

  a {
    text-decoration: none;
  }
}

.title {
  font-size: 24px;
  color: $footer-titles;
  margin-bottom: 10px;
}

.itemText {
  font-size: 16px;
  font-weight: 400;
  color: $footer-text;
}

.listOrganizers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 850px) {
    justify-content: flex-start;
    column-gap: 20%;
  }

  @media (max-width: 650px) {
    padding-left: 50px;
  }
}

.organizer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  li {
    list-style: none;
  }

  @media (max-width: 850px) {
    margin-bottom: 20px;
  }
}
