$main-red: rgb(238, 28, 37);
$main-white: rgb(255, 255, 255);
$title-white-soft: rgba(255, 255, 255, 0.8);
$links-btns-red: rgb(238, 28, 37);
$links-btns-red-hover: rgb(187, 0, 9);
$links-btns-blue: rgba(39, 58, 98, 0.9);
$links-btns-blue-hover: rgba(39, 58, 98, 0.745);
$main-title-blue: rgba(39, 58, 98, 0.9);

$gradient-cards-schedule-blue: rgba(103, 133, 162, 0.953);
$gradient-cards-schedule-blue-hover-active: rgba(25, 70, 113, 0.468);
$gradient-cards-schedule-bejge: rgba(239, 206, 145, 0.377);
$gradient-cards-schedule-bejge-hover-active: rgba(217, 176, 100, 0.289);

$footer-background: rgb(31, 38, 47);
$footer-titles: rgb(60, 77, 96);
$footer-text: rgb(144, 152, 164);
$footer-icons: rgb(67, 71, 82);
$footer-icons-hover-active: rgb(93, 99, 113);

$form-message-error: rgb(188, 59, 79);
$form-note: rgb(143, 26, 43);
$form-btn-active: rgb(153 60 66 / 69%);
$form-btn-disabled: rgb(153 60 66 / 69%);