.wrapper {
  display: flex;
  flex-direction: column;
}

.gridItem {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px rgb(45, 76, 105) solid;

  a {
    text-decoration: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  &:nth-of-type(5n + 1) {
    &:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue,
          $gradient-cards-schedule-bejge
        ),
        url("../../assets/img/beh.webp");
      background-position: center 60%;
    }
  }

  &:nth-of-type(5n + 2) {
    &:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue,
          $gradient-cards-schedule-bejge
        ),
        url("../../assets/img/vel.webp");
      background-position: center 80%;
    }
  }

  &:nth-of-type(5n + 3) {
    &:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue,
          $gradient-cards-schedule-bejge
        ),
        url("../../assets/img/run2.webp");
      background-position: left center;
    }
  }

  &:nth-of-type(5n + 4) {
    &:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue,
          $gradient-cards-schedule-bejge
        ),
        url("../../assets/img/start-marathon-small2.webp");
      background-position: center 30%;
    }
  }

  &:nth-of-type(5n + 5) {
    &:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue,
          $gradient-cards-schedule-bejge
        ),
        url("../../assets/img/vel1.webp");
      background-position: center 60%;
    }
  }
}

.content {
  max-width: 1440px;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5%;
  margin: 0 auto;
  cursor: pointer;

  @media (max-width: 1200px) {
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
    row-gap: 10px;
  }

  @media (max-width: 768px) {
    padding: 40px 10px;
  }
}

.title {
  color: $title-white-soft;
  background: $main-red;
  font-size: 38px;
  text-align: center;
  padding: 5px 0;
  letter-spacing: 20px;
  font-weight: 700;
  font-style: italic;
  margin: 0;

  @media (max-width: 850px) {
    font-size: 32px;
  }

  @media (max-width: 650px) {
    font-size: 32px;
  }

  @media (max-width: 450px) {
    font-size: 32px;
  }
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  color: $main-white;
  width: calc((100% - 10%) / 3);
  order: 0;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 1000px) {
    font-size: 32px;
  }

  @media (max-width: 800px) {
    text-align: center;
  }

  @media (max-width: 380px) {
    font-size: 28px;
  }
}

.date,
.distance {
  font-size: 40px;
  font-weight: 700;
  color: $main-white;

  @media (max-width: 1000px) {
    font-size: 32px;
  }

  @media (max-width: 380px) {
    font-size: 28px;
  }
}

.distanceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc((100% - 10%) / 3);

  @media (max-width: 1200px) {
    width: 100%;
    order: 1;
  }

  .distance:not(:nth-last-of-type(2)) {
    &:after {
      content: "";
      border-right: 2px rgba(217, 217, 217, 0.61) solid;
      margin: 0 10px;
    }
  }

  .measurement {
    margin-left: 10px;
    font-size: 40px;
    color: $main-white;
    font-weight: 500;
    display: flex;
    align-self: center;

    @media (max-width: 1000px) {
      font-size: 32px;
    }

    @media (max-width: 380px) {
      font-size: 28px;
    }
  }
}

.dateAndTimeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc((100% - 10%) / 3);

  @media (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
}

//FOR DESKTOP WITH HOVER EFFECT
@media (hover: hover) {
  .gridItem {
    -webkit-tap-highlight-color: transparent;
    &:hover:before {
      transform: scale(1.05);
    }

    &:nth-of-type(5n + 1):hover:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/beh.webp");
      background-position: center 60%;
    }

    &:nth-of-type(5n + 2):hover:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/vel.webp");
      background-position: center 80%;
    }

    &:nth-of-type(5n + 3):hover:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/run2.webp");
      background-position: left center;
    }

    &:nth-of-type(5n + 4):hover:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/start-marathon-small2.webp");
      background-position: center 30%;
    }

    &:nth-of-type(5n + 5):hover:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/vel1.webp");
      background-position: center 60%;
    }
  }
}

//FOR DEVICES DOESN`T SUPPORT HOVER EFFECT
@media (hover: none) {
  .gridItem {
    -webkit-tap-highlight-color: transparent;
    &:active:before {
      transform: scale(1.05);
    }

    &:nth-of-type(5n + 1):active:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/beh.webp");
      background-position: center 60%;
    }

    &:nth-of-type(5n + 2):active:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/vel.webp");
      background-position: center 80%;
    }

    &:nth-of-type(5n + 3):active:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/run2.webp");
      background-position: left center;
    }

    &:nth-of-type(5n + 4):active:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/start-marathon-small2.webp");
      background-position: center 30%;
    }

    &:nth-of-type(5n + 5):active:before {
      background-image: linear-gradient(
          127deg,
          $gradient-cards-schedule-blue-hover-active,
          $gradient-cards-schedule-bejge-hover-active
        ),
        url("../../assets/img/vel1.webp");
      background-position: center 60%;
    }
  }
}
