.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  column-gap: 10px;
}

.timerUnitWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerText {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
}

.timerData {
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto;
}

.separator {
  display: flex;
  flex-direction: column;
}
.separator span {
  margin: 0;
  padding: 0;
  height: 12px;
}